.messagesWindow {
  display: block;

  &.noMessages {
    height: 100%;

    & > div {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--no-messages-text-color);
    }
  }
}
